
@font-face {
  font-family: 'Monoton';
  src: url('technovier-bold-font/TechnovierBold-1GY5g.ttf') format('truetype');
}
@font-face {
  font-family: 'Varino';
  src: url('varino-normal-font/VarinonormalRegular-nRYg4.otf') format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  src: url('ubuntu-font/Ubuntu-n1M0.ttf') format('truetype');
}
@font-face {
  font-family: 'ModernW';
  src: url('modern-warfare/ModernWarfare-OV7KP.ttf') format('truetype');
}

/* Set the font for the entire document */
main {
  font-family: 'Ubuntu', sans-serif;
}

nav ul {
  font-family: "Ubuntu", sans-serif;
  padding: 7%;
}

main h1{
  font-family: 'Varino', sans-serif;
}


/* Set the background image */
body {
  background-image: url('img/sky0.png'); /* Switch to online url*/
  
  /* Scale the image to fit the screen */
  background-size: cover;
  
  /* Position the image in the center */
  background-position: center;
  
  /* Make the image fixed so it does not scroll with the page */
  background-attachment: fixed;

}

/* Set the color of the text in the header to green */
header {
  color: green;
}

/* Set the background color of the navigation menu to black */
nav {
  background-color: rgba(0, 2, 99, 0.292);
  
}

/* Set the color of the text in the navigation menu to purple */
nav a {
  color: white;
  text-decoration: none;
  font-size: 15pt;
}

/* Add a hover effect to the navigation menu links */
nav a:hover {
  text-shadow: 5px 5px 15px rgba(7, 9, 7, 0.865);
  color: rgb(183, 0, 255);
}

/* Set the side menu to be fixed on the left side of the screen */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: min-content;
  height: 100%; /* Make the menu as tall as the screen */
}

/* Add some styles to the links in the menu */
nav a {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

nav img {
  width: 80pt;
  float: left;
  padding: 20pt;
  margin-right: 20pt;
}


/* Add some margin to the main content to make room for the fixed menu */
main {
  color: rgb(255, 255, 255); 
  font-size: 130%;
}

/* Add some padding to the sections */
section {
  padding: 10px;
  margin-bottom: 7%;
  align-content:stretch;
  margin-top: 7%;
}

/* Add some margin to the bottom of the footer */
footer {
  margin-bottom: 20px;
}

#intro, #about, #exp, #skills, #insp, #contact{
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 74, 0.6);
}

#gameplace h3{
  color: yellow;
  background-color: black;
}

#personalName {
  padding: 3%;
  color: rgb(255, 255, 255);
  font-family: 'Monoton', sans-serif;
}

#social {
  text-decoration: none;
  color: white;
  text-align:center;
  margin-top: 100px;
}

#social a {
  display: inline-block;
  margin-left: 10px;
  font-size: 30px;
}

#social a:hover {
  color: rgb(255, 0, 153);
}


footer {
  position: fixed;
  bottom: 0;
  right: 0;
  color:rgba(1, 18, 49, 0.866)
}

#sectionimg {
  float: left;
}

.collapsible {
  cursor: pointer;
  padding: 18px;
  border: none;
  background-color: rgba(210, 180, 140, 0);
  font-size: 140%;
  color: white;
}

.collapsible:hover {
  text-decoration: underline;
}

.content {
  display: none;
  overflow: hidden;
}

main a {
  color: white;
}

main a :hover {
  color: greenyellow;
}

#contactinfo {
  color: white;
  text-align:left;
  align-items: stretch;
  
}

#contactinfo div {
  display: inline-block;
  margin-left: 10px;
}

/*For portfolio files*/
.preview-container {
  transition: transform 0.3s ease;
  margin: 20px;
}
.preview-container:hover {
  transform: scale(1.5); /* Adjust scale value as needed */
}
#doc1img {
  width: 100%;
}

.containerDoc {
  width: 15%;
  text-align: center;
}

.contentRow{
  display: inline-flex;
}
.contentCol{
  display: list-item;
}